{% extends 'Core/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<h2 class="text-center">Sign in</h2>
<div class="justify-content-center flex-wrap d-flex gap-5">

	<form class="d-flex flex-column gap-2 mx-auto" style="max-width: 320px;"
		method="post" action>{% csrf_token %}
		<input class="form-control text-black border-2 border-opacity-0" type="text"
			name="username" placeholder="name">
		<input class="form-control text-black border-2 border-opacity-0" type="text"
			name="password" placeholder="password">
		<span>{{ error }}</span>
		<button class="btn btn-success form-control" type="submit">Подтвердить</button>
	</form>
	
	{% endblock %}